body {
  font-family: "Lucida Calligraphy", "Apple Chancery";
  text-align: center;
}

button {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

#currentloc {
  padding: 3px 10px;
  margin: 10px auto;
  font-size: 15px;
  font-weight: bold;
  outline: 0.1px black;
  outline-style: solid;
  width: 25%;
}

#currentloc:hover {
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  color: black;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

h4 {
  color: rgba(0, 3, 8, 0.87);
  font-size: 20px;
  float: left;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
  color: rgba(0, 3, 8, 0.87);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

p {
  text-align: left;

  position: relative;
  margin: -25px auto;
  margin-bottom: 80px;
  margin-right: 40px;
}

input {
  margin: 5px auto;
  color: black;
  background: white;
}

#btnsubmit {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  padding: 3px 5px;

  outline: 0.1px black;
  outline-style: solid;
}

#btnsubmit:hover {
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  color: black;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.container {
  border: solid #0000005d;
  background: rgba(255, 255, 255, 0.486);
  padding: 5px;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 60%;
  border-radius: 8px;
}

.overview {
  float: left;
  margin: -30px 10px;
  text-align: center;
}

#currenttemp {
  display: inline-block;
  font-size: 20px;
}

.weather-temperature {
  margin: -30px auto;
}

#description {
  margin-left: -30px;
  font-size: 12px;
}

#date {
  margin-left: -30px;
  font-size: 12px;
}
